<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/background"
        android:supportsRtl="true"
        android:theme="@style/Theme.DManager">
        <activity
            android:name=".RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:theme="@style/Theme.DManager.NoActionBar"></activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.DManager.NoActionBar"></activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.DManager.NoActionBar" />

        <activity android:name=".RestaurantSignUp" />
        <activity android:name=".UserSignUp" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>